append variables
 -
    var faqs= [
      {
        id: 1,
        title  :'Which blockchain do you use?',
        description: 'Redstone is a cross-chain solution that takes the best from different chains. ' +
        'We utilise the permanent and affordable storage of the Arweave chain to keep our data and track the reputation of providers. ' +
        'We also support all of the EVM-compatible chains such as Ethereum, Avalanche or Polygon where most of the DeFi activity happen.'
      },
      {
        id: 2,
        title  :'Where do you take the data from?',
        description: 'We support any public and private data API. ' +
        'There are dedicated plugins available for the most popular aggregators, off-chain exchanges and DEXes. ' +
        'It is also possible to directly connect your internal data source. '
      },
      {
        id: 3,
        title  :'How does the data guarantee works?',
        description: 'If a data provider experiences an outage or the returned price is not accurate users are entitled to receive a compensation. ' +
        'To receive a refund there is a need to open a dispute that is resolved by a decentralised panel of juries through token voting. ',
      },
      {
        id: 4,
        title  :'How can I become a data provider?',
        description: 'In order to become a data provider you need to publish a manifest specifying which data and on which terms are you going to publish. ' +
        'There is also a need to stake tokens as collateral for data quality and maintain a dedicated node. ' +
        'We provide tools to host and monitor data node and we will assist you through this process.',
      },
      {
        id: 5,
        title  :'How to connect RedStone data to my smart-contract?',
        description: 'We designed the system to work exactly like other popular on-chain oracles. ' +
        'You just need to update the address of an Oracle contract. ' +
        'Reach out to us and we will work with you to implement and test the updates. ',
      },
    ];

mixin Faq(config, index)
  .accordion-item.mb-2
    h2(id=`heading${config.id}`).accordion-header
      button.accordion-button(type='button' data-bs-toggle='collapse'  class=index == 0 ? false : 'collapsed'  data-bs-target=`#collapse${config.id}` aria-expanded='true' aria-controls=`collapse${config.id}`)
        span.mb-0.fw-bold.text-start.fs-1.text-1000=config.title
    .accordion-collapse.collapse(id=`collapse${config.id}` class=index == 0 ? 'show' : false  aria-labelledby=`heading${config.id}`  data-bs-parent='#accordionExample')
      .accordion-body.bg-100=config.description

mixin Faqs
  +Section.py-8#faq
    .row.justify-content-center
      .col-md-8.col-lg-6.text-center.mb-3
        h6.fw-bold.fs-4.display-3.lh-sm.mb-3 Frequently asked questions
        //p.mb-5 The rise of mobile devices transforms the way we consume information entirely and the world's most elevant channels such as Facebook.

    .row.flex-center
      .col-lg-9
        #accordionExample.accordion
          each faq, index in faqs
            +Faq(faq, index)
